ul li {
    list-style: none;
    display: inline;
    margin: 10px;
}

.date-graph-wrapper {
    background-color: #555;
    padding: 10px;
    border-radius: 10px;
}

.graph-wrapper {
    display: flex;
    justify-content: center;
}

.graph-node {
    border: 0.3px black solid;
    border-radius: 20%;
    margin: 1px;
}

.graph-node-wrapper {
    display: flex;
}

.graph-node-table {
    display: flex;
}

.graph-node-row {
    position: relative;
    display: flex;
    flex-direction: column;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.weekday-row {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.weekday-node {
    border: 0.3px solid black;
    margin: 1px;
    display: inline-block;
    color: #ddd;
}

.graph-node-row:nth-child(1) {
    justify-content: flex-end;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 210px;
    height: 20px;
    background-color: black;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    bottom: 40px;
    left: -99px;
    z-index: 1;
}

.tooltip .tooltiptext:before {
    content: '';
    display: block;
    position: absolute;
    left: 99px;
    bottom: -52%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: black;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}